.gitkeep
.netrwhist
.DS_Store
.tags
.cscope
.tasks
.vscode/
__pycache__/
tags
*.o
*.obj
*.class
*.exe
*.wav
*.pyc
*.pyo
*.bak
*.old
*.dll
*.so
*~
*.sdf
*.ipch
*.pch
*.rar
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.log

/temp_dirs/undodir/
/plugin/test_*
